{% extends "base.html" %}

{% block content %}

<div class="feed">    
    {% for post in posts %}
    <div class="block">
        <div class="title-img">
            <img src="{{ post['images'][0] }}" alt="Post Image">
            <div class="gradient"></div>
        </div>
        <div class="block-text">
            <h1>{{ post.title }}</h1>
            <p>{{ post.description }}</p>
        </div>
        <div class="images">
            {% for image_url in post.images %}
                <img src="{{ image_url }}" alt="Post Image">
            {% endfor %}
        </div>
    </div>
    {% endfor %}

</div>

{% if li %}
<a href="/post">
    <div class="post-btn">
        <span class="material-symbols-rounded">add</span>
    </div>
</a>
{% endif %}

{% endblock %}